nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, .5);
  position: fixed;
  z-index: 1;
  top: 0;
}
nav p {
  color: white;
  margin-left: 20px;
}
.nav-links {
  flex-grow: 1;
  text-align: center;
}
.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  display: inline-block;
  padding: 20px 40px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: lightblue;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.nav-links ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(51, 51, 51, 0.5);
  
}

.nav-links ul ul li {
  display: block;
}
.nav-links button {
  color: white;
}